
.custom-thumbnail {
    width: 100px;
    border: none;
    box-shadow: none;
}

.cadastro{
    width:800px;
    margin: 0 auto;
    padding: 7px;
    text-align:center;
    position: relative;
    overflow: hidden;
    
}